#container
    {
    width:400px;  
    height:30px;
    }
#label{
    width:100px;
    float:left;
    text-align: left;
    }

#form{
    width:300px;
    float:left;
    text-align: left;
    }

#login{
    text-align: center;
    background-color: cadetblue;
    width:410px;
    height:150px;
    }

#register{
background-color: cornflowerblue;
width:410px;
    
    }