    <div *ngIf="user.id!==0" id="container_connected">
       <h5>Vous etes connecter</h5>
        Login : {{user.login}}
    </div>


    <div *ngIf="user.id<1" id="register">
        <b>Formulaire d inscription <br>Veuillez introduire le login et le password que vous desirez</b> 
        <form>
            <div id="container">
                <div id="label"><label for="register_lgn">Login : </label></div>
                <div id="form"><input type="text" name="login" id="register_lgn" [(ngModel)]="user.register_login" (keyup)="chk_input()" placeholder="Choisissez le login"></div>
            </div>
            <div id="container">
                <div id="label"><label for="register_password">Password : </label></div>
                <div id="form"><input type="password" name="password" id="register_password" [(ngModel)]="user.register_password" (keyup)="chk_input()" placeholder="Choisissez le Password"></div>
            </div>
            <div id="container">
                <button [disabled]="chkInput" (click)="add_user()">Inscription</button>           
            </div>
        </form> 
        <div id="msg_warning" *ngIf="user.register_login.length<5">Login trop court</div>
        <div id="msg_warning" *ngIf="user.register_password.length<8">Password trop court</div>
    </div>
   
    
