main
    {
    float:left;
    padding: 0;
    margin: 0;
    width: 500px;
    height:500px;
    }
footer{
    vertical-align:bottom;
    width:100%;
    float: left;
#bdy{
    margin: 0 auto;
    width:100px;
    background-color: red;
}
}
