<div *ngIf="!user_id">Not connected</div>

<div *ngIf="user_id">

    <table class="table table-success table-striped">
        <tbody class=".table-striped">
            <tr><th>Titre</th><th>Media</th><th>Boite</th><th>Manuel</th></tr>
            <tr *ngFor="let game of GameToHtml">
                <td>{{game.title}}</td>
                <td id="cib_game">{{game.cib_game}}</td>
                <td id="cib_box">{{game.cib_box}}</td>
                <td id="cib_manual">{{game.cib_manual}}</td>
            </tr>
        </tbody>
    </table>
</div>