recherche par nom 


<div *ngIf=""></div>



<input type="text" (keyup)="searchgame()" [(ngModel)]="namegame" >

<select (change)="selectedGame = $event.target.value;chkgame=false;"> 
    <option *ngFor="let it of gamesWithPlatform" [value]="it.id">
        {{ it.name }} ({{ it.platform }})
    </option>
</select>
<button [disabled]="chkgame" (click)="handleSendAction()">Ajouter</button>


<!-- <div>{{"TEST"+this.selectedGame}}</div> -->



<!-- <select>
    <option *ngFor="let game of games">{{game.name}}</option>
</select> -->






