#typ_zone
    {
    margin: 0 auto;
    width:500px;
    }
#label
    {
    float:left;
    width:100px;
    height: 30px;
    }
#container
    {
    float:right;
    width:400px;   
    height: 30px;
    }
#return_api
    {
    margin: 0 auto;
    width:500px;
    }
#button
    {
    margin: 0 auto;
    width:500px;
    }