#typ_zone
    {
    margin: 0 auto;
    width:500px;
    }
#label
    {
    float:left;
    width:100px;
    height: 30px;
    }
#container
    {
    float:right;
    width:400px;   
    height: 30px;
    }
#return_api
    {
    margin: 0 auto;
    width:500px;
    }
#button
    {
    margin: 0 auto;
    width:500px;
    }
#game_added {
    position: absolute;
    left :100px;
    top:100px;
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    background-color:steelblue;
    border-radius: 5px;
    opacity: 100%;
    }
