Ajouter un jeux :

<div *ngIf="user_id">

    <div id="typ_zone">
        <div id="label">Name : </div>
        <div id="container"><input type="text" (keyup)="searchgame()" [(ngModel)]="namegame" ></div>
    </div>

    <div id="return_api">
        <div id="label">Titre : </div>
        <div id="container">
            <select (change)="selectedGame = $event.target.value;chkgame=false;" [(ngModel)]="focusedgame"> 
                <option *ngFor="let it of gamesWithPlatform |keyvalue" [value]="[it.key,it.value.id]">{{ it.value.name }}</option>
            </select>
        </div>
    </div>

    <div id="return_api">
        <div id="label">Plateforme : </div>
        
        <div id="container" *ngIf="focusedgame !== undefined">
            <!-- <div id="container" *ngIf="focusedgame.value !== undefined"> -->
            <select (change)="selectedPlatform = $event.target.value;chkgame=false;" [(ngModel)]="focusedplatform"> 
                <option *ngFor="let pf of gamesWithPlatform[focusedgame[0]].platforms" [value]="pf.platform.id">{{ pf.platform.name }}</option>
            </select>
            <!-- </div> -->
        </div>
    </div>

    <div id="return_api" *ngIf="focusedgame !== undefined">
        <div id="label">Boite : </div>
        <div id="container">
        <input type="checkbox" id="cib_box" [(ngModel)]="cib_box">           
        </div>
    </div>
    <div id="return_api" *ngIf="focusedgame !== undefined">
        <div id="label">Livret : </div>
        <div id="container">
        <input type="checkbox" id="cib_manual" [(ngModel)]="cib_manual">           
        </div>
    </div>
    <div id="return_api" *ngIf="focusedgame !== undefined">
        <div id="label">Jeux : </div>
        <div id="container">
        <input type="checkbox" id="cib_game" [(ngModel)]="cib_game">           
        </div>
    </div>


    <div id="button">
        <button [disabled]="chkgame" (click)="handleSendAction()">Ajouter</button>
    </div>
</div>

